     @charset "utf-8";
     /* CSS Document */
     
     body {
         font-family: 'Poppins', sans-serif;
     }
     
     .color {
         background-color: #f1f3f7
     }
     
     * {
         padding: 0;
         margin: 0;
         box-sizing: border-box
     }
     
     img {
         max-width: 100%;
         display: block
     }
     
     .container_fluid {
         width: 100%;
         float: left
     }
     
     .container {
         width: 100%;
         max-width: 1300px;
         margin: 0 auto;
     }
     
     .top_header {
         background-color: #fff;
         width: 100%;
         float: left;
     }
     
     .top_header_logo {
         width: 62%;
         float: left
     }
     
     .top_header_menu {
         width: 35%;
         float: right;
     }
     
     .top_header_menu ul {
         width: 100%
     }
     
     .top_header_menu>ul>li {
         list-style-type: none;
         float: left;
         padding: 10px 0px 0px 20px;
         font-size: 20px;
         font-weight: 500;
     }
     
     .search1 {
         width: 60%;
         float: left
     }
     
     .search {
         padding: 10px;
         border-radius: 22px;
         width: 100%;
         border: 1px #656363 solid;
     }
     
     .pollstart {
         margin-top: 30px
     }
     
     .poll_left {
         width: 17%;
         float: left;
         /* padding-right: 20px; */
         margin-right: 20px;
         background-color: #fff;
     }
     
     .poll_left>ul>li {
         list-style-type: none;
         padding: 10px;
         border-bottom: 1px #ccc solid;
         width: 100%;
         float: left;
     }
     
     .poll_left>ul>li>a {
         color: #000;
         text-decoration: none;
     }
     
     .poll_left>ul>li>a:hover {
         color: #ae038c;
         text-decoration: none;
     }
     
     .poll_mid {
         width: 63%;
         float: left
     }
     
     .bannerr {
         width: 100%;
         float: left;
         background-image: url("../images/banner2.jpg");
         padding: 60px 0;
         background-size: cover;
     }
     
     .banner_left {
         width: 60%;
         float: left;
         color: #fff;
         padding-left: 60px;
     }
     
     .banner_left>h3 {
         text-transform: uppercase;
         font-size: 30px
     }
     
     .banner_left>ul>li {
         display: inline-block;
         list-style-type: none;
         padding-top: 10px;
     }
     
     .radio_box {
         width: 100%;
         float: left;
     }
     
     .radio_box span {
         width: 48%;
         display: block;
         float: left;
         margin-right: 2%;
         margin-bottom: 5px;
         margin-top: 7px;
     }
     
     .radio_box input[type=radio] {
         display: none;
     }
     
     .radio_box input[type=radio]:checked~label {
         border-color: #018ad3;
         color: #000000;
     }
     
     label {
         float: left;
         font-size: 15px;
         color: #000;
     }
     
     input[type=checkbox],
     input[type=radio] {
         box-sizing: border-box;
         padding: 0;
     }
     
     .radio_box span label {
         width: 100%;
         position: relative;
         border: 2px solid #b6b7b8;
         display: inline-block;
         font-size: 16px;
         color: #CCC;
         border-radius: 5px;
         line-height: 38px;
         padding-left: 10px;
     }
     
     .poll_right {
         width: 17%;
         float: right;
     }
     
     .newsbyu>ul>li {
         list-style-type: none;
         display: inline-block;
     }
     
     .poll_left>ul>li span {
         float: left;
         padding-right: 6px;
     }
     
     .newsbyu>ul>li>img {
         border-radius: 50%;
     }
     
     .questions {
         width: 100%;
         float: left
     }
     
     .question_week {
         background-color: #fff;
         color: #ae038c;
         padding: 10px;
         margin-top: 20px
     }
     
     .questions_left {
         width: 49%;
         float: left;
         background-color: #fff;
         margin-top: 20px;
         padding: 20px 10px 20px 20px;
     }
     
     .questions_right {
         width: 49%;
         float: right;
         background-color: #fff;
         margin-top: 20px;
         padding: 20px 10px 20px 20px;
     }
     
     .profile_login {
         width: 30%;
         float: right;
     }
     
     .profile_name {
         width: 45%;
         float: left;
         padding-left: 6px;
         padding-top: 2px;
     }
     
     .profile_pic {
         width: 15%;
         float: left;
     }
     
     .follow {
         text-align: center;
         width: 100%;
         padding: 4px;
         background-color: #fff;
         color: #a40045;
         border: 1px solid #a40045;
         font-weight: 700;
     }
     
     .newsbyu_video {
         width: 100%;
         float: left
     }
     
     .newsbyu_video>p {
         background-color: #a40045;
         color: #fff;
         padding: 8px 0px;
         text-align: center;
         font-size: 14px;
     }
     
     .newsbyu {
         padding-left: 10px;
         padding-right: 10px;
         margin-top: 10px;
         width: 100%;
         float: left;
         border-bottom: 1px #ccc solid;
         padding-bottom: 10px;
     }
     
     .newsby {
         background-color: #fff;
         width: 100%;
         float: left
     }
     
     .newsby>p {
         padding: 10px;
         border-bottom: 1px solid #ccc;
         color: #a40045;
         font-size: 15px;
     }
     
     .newsby p span {
         font-weight: 700
     }
     
     .Read {
         width: 40%;
         float: right;
     }
     
     .skies {
         width: 60%;
         float: left
     }
     
     .skies>p {
         font-size: 10px;
         color: #6f6e6e
     }
     
     .leaders {
         background-color: #fff;
         width: 100%;
         float: left;
         margin-top: 20px
     }
     
     .leaders>p {
         padding: 10px;
         border-bottom: 1px solid #ccc;
         color: #a40045;
         font-size: 15px;
     }
     
     .leaders p span {
         font-weight: 700
     }
     
     .leaders h5>a {
         text-decoration: none;
         color: #a40045;
     }
     
     .leaders h5 {
         padding: 10px;
         width: 100%;
         float: left;
     }
     
     .abc {
         width: 50%;
         float: left;
         padding-top: 20px
     }
     
     .abc1 {
         width: 50%;
         float: right;
         padding-top: 20px
     }
     
     .color_ratio {
         width: 100%;
         float: left;
         padding-top: 20px;
     }
     
     .graphs {
         width: 100%;
         float: left;
         margin-top: 0px;
         background-color: #fff;
         padding-bottom: 35px;
     }
     
     .innerdiv {
         width: 100%;
         height: 25px;
         background-color: #ececeb;
     }
     
     .world {
         width: 50%;
         float: right;
         position: relative;
     }
     
     .world_left {
         width: 65%;
         float: left;
         font-size: 16px;
         color: #6f6e6e;
     }
     
     .world_right {
         width: 35%;
         float: right
     }
     
     .world_right>p {
         float: left;
         font-size: 13px;
         color: #adadad;
     }
     
     .world_right>p>span {
         padding-right: 10px;
         float: left;
     }
     
     .world_silent {
         width: 100%;
         float: left;
         background-color: #fff;
         padding: 20px;
         margin-top: 20px;
     }
     
     .world_silent>h4 {
         padding-top: 10px;
         padding-bottom: 20px;
         font-size: 22px;
         clear: both;
     }
     
     .world_silent>p {
         color: #a40045;
         font-size: 14px;
         font-weight: 500
     }
     
     .world_silent>ul>li {
         width: 100%;
         float: left;
         margin-bottom: 10px;
         list-style-type: none
     }
     
     .percent {
         padding-left: 4px;
     }
     
     .amount {
         padding-right: 4px;
     }
     
     .date {
         float: left
     }
     
     .total {
         float: right
     }
     
     .signup>a {
         font-size: 14px;
         text-decoration: none;
         color: #a6a6a6
     }
     
     .directional>p {
         background-color: #fff;
         padding: 10px;
         float: left;
         width: 33.33%;
         text-align: center;
         border: 2px #ccc solid;
     }
     
     .directional {
         margin-top: 10px;
         width: 100%;
         float: left;
     }
     
     .ratio {
         width: 100%;
         max-width: 330px;
         margin: 0 auto;
         text-align: center
     }
     
     .ratio>ul>li {
         list-style-type: none;
         float: left;
         width: 25%
     }
     
     video {
         width: 100%;
         height: auto;
     }
     
     @media(max-width:767px) {
         .container {
             padding-left: 10px;
             padding-right: 10px;
         }
         .poll_mid {
             width: 100%;
             float: left;
         }
         .questions_left {
             width: 100%;
         }
         .questions_right {
             width: 100%;
             float: right;
         }
         .poll_right {
             width: 100%;
             float: left;
         }
         .banner_left {
             width: 100%;
             float: left;
             padding-left: 10px;
         }
         .poll_left {
             width: 100%;
         }
         .radio_box span label {
             font-size: 13px;
         }
         video {
             width: 100%;
             height: auto;
         }
         .banner_left>h3 {
             font-size: 24px;
         }
         .top_header_logo {
             width: 40%;
             float: left;
         }
         .top_header_menu {
             width: 50%;
             float: right;
             padding-bottom: 10px;
         }
         .search1 {
             display: none
         }
         .top_header_menu>ul>li {
             padding: 5px 0px 0px 30px;
         }
         .world_silent>p {
             font-size: 10px;
         }
         .world_silent>h4 {
             font-size: 18px
         }
         .world_left {
             width: 100%;
         }
         .world_right {
             width: 100%;
         }
         .directional>p {
             width: 100%;
             padding: 6px;
             font-size: 12px;
             margin-bottom: 4px
         }
     }